#modalOverlay{
    display:none;
}

.modal-active#modalOverlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(28, 28, 28, 0.5);
    float: left;
    top: 0;
    z-index: 999999;
    display:block;
}

.modal-active#modalOverlay .modalContent{
    min-width: 25vw;
    min-height: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    background: rgba(255,255,255,1);
    overflow:auto;
    max-height: 95vh;
    max-width: 95vw;
}

.modal-active#modalOverlay .modalContent>div.insideModal:first-child{
    width:100%;
    height: 100%;
}

.modal-active#modalOverlay .modalContent .closebutton{
	position: absolute;
    /*position: sticky;*/
    float: right;
    right: 0%;
    top: 0vh;
    cursor: pointer;
    color: #ffce00;
    padding: 1px;
    background-color: black;
    z-index: 9999;
    width:3%;
    fill: #fff;
}

.modal-active#modalOverlay .modalContent .closebutton:hover{
    background-color: gray;
    fill:black;
}

@media only screen and (max-width: 600px){
    .modal-active#modalOverlay .modalContent{
        min-width: 98vw;
    }
}